:root {
  --color-primary: #f7a600
}

h1 {
  margin: 0.5em 0;
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  margin: 0.5em 0;
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  margin-top: 0;
  padding-left: 0.5em;
  border-left: 3px solid var(--color-primary);
  color: #555;
  font-size: 1.5em;
}