body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top {
  display: flex;
  padding: 1em 0;
  justify-content: flex-end;
  align-items: center;
  background-color: #0095db;
}

.top img {
  width: 200px;
  display: block;
  padding: 10px;
}

.top span {
  padding: 0.5em 1.75em;
  border-left: 2px solid white;
  color: white;
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em 0;
  background-color: #323232;
  color: white;
}

footer img {
  height: 100px;
}

@media (max-width: 900px) {
  footer {
    padding: 1.5em;
    flex-direction: column;
    text-align: center;
  }
}